<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

{% block header %}
    <header class="sticky flex justify-center top-0 bg-[color:var(--primary-color)] text-[color:var(--text-color)]">
        <div class="container flex grid-cols-4 gap-4 justify-between py-5">
            <div class="w-full">
                <a href="#">Categorie</a>
            </div>

            <div class="w-full flex justify-center">
                <a href="#">
                    <img class=""
                        src="https://picsum.photos/30/30"
                        alt="logo du site">
                </a>
            </div>

            <div class="w-full flex flex-row">
                <img class="pr-5"
                     src="https://picsum.photos/30/30"
                     alt="Rechercher">
                <input class="text-black pl-1" type="text" id="search" name="search">
                <img class="pl-5"
                     src="https://picsum.photos/30/30"
                     alt="Utilisateurs">
            </div>
        </div>
    </header>
{% endblock %}



{% block main %}

{% endblock %}


{% block footer %}

{% endblock %}
{#        {% block body %} #}
{#            <!-- Using utilities: --> #}
{#            <button class="hover:text-red-700 bg-blue-500  text-white font-bold py-2 px-4 rounded hover:bg-blue-700  "> #}
{#                Button #}
{#            </button> #}
{#            <h1 class="text-3xl font-bold underline"> #}
{#                Hello world! #}
{#            </h1> #}
{#        {% endblock %} #}
</body>
</html>
