{% block footer %}

    <footer class="flex justify-center text-center bg-[color:var(--primary-color)] text-[color:var(--text-color)] py-5">
        <div class="container " >
            <p>mentions légales</p>
        </div>
    </footer>
{% endblock %}