{% block header %}
    <header class="sticky flex justify-between space top-0 bg-[color:var(--primary-color)] text-[color:var(--text-color)]">
        <div class=" flex py-2 items-center w-16 mx-3">
            <img
                    src="{{ asset('build/img/logo1.png') }}"
                    alt="Utilisateurs">
        </div>
        <div class="flex flex-initial  py-2 items-center">
            <div class="flex bg-red-700">
                {% include 'Components/drop_down.html.twig' with {'actions': [{name : 'premier lien',url : '/'},{name : 'deuxieme lien',url : '/'}] }%}
            </div>

            <div class="w-full flex justify-center">
                <a href="#">
                    <img class=""
                         src="https://picsum.photos/30/30"
                         alt="logo du site">
                </a>
            </div>

            <div class="w-full flex flex-row">
                <img class="pr-5"
                     src="https://picsum.photos/30/30"
                     alt="Rechercher">
                <input class="text-black pl-1" type="text" id="search" name="search">


                <img class="pl-5"
                     src="https://picsum.photos/30/30"
                     alt="Utilisateurs">
            </div>
        </div>
    </header>
{% endblock %}